  <div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="dashboard-toolbar">
        <h1 class="app-name">Sua Imobiliaria</h1>
        <button *ngIf="securityService.profile" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <div *ngIf="!securityService.profile">
            <button mat-button (click)="login()">
                <mat-hint>Login</mat-hint>
                <mat-icon>login</mat-icon>
            </button>
        </div>
        <div *ngIf="securityService.profile">
            <button mat-button (click)="logout()">
                <mat-hint>Logout</mat-hint>
                <mat-icon>logout</mat-icon>
            </button>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches? 'over': 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <mat-nav-list>
                <div class="profile-card">
                    <div *ngIf="securityService.profile" class="header">
                        <h2>{{securityService.profile.firstName}}</h2>
                        <h4>{{securityService.profile.email}}</h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
                    <mat-icon class="icono">{{nav.icon}}</mat-icon>
                    {{nav.name}}
                </a>

            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
